* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 2;
  font-size: 2.5rem;
}

header {
  height: 25vh;
  background-color: #e0ffff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.logo {
  width: 120px;
  height: 110px;
}

.container {
  display: flex;
}

.text-box {
  width: 80%;
  font-size: 2vw;
}

nav {
  display: flex;
  margin-right: 60%;
}

.active {
  color: #b8f2e6;
  text-decoration: none;
  background-color: #035466;
  padding: 0 5%;
  font-size: 1.6rem;
  height: 2%;
}

nav a {
  color: #b8f2e6;
  text-decoration: none;
  background-color: #118ab2;
  padding: 0 5%;
  font-size: 1.6rem;
  height: 2%;
}

nav a:hover {
  background-color: #b8f2e6;
  color: #ffcd69;
  animation-name: navhover;
  animation-duration: 6s;
  animation-iteration-count: 10;
}

.forgot-password {
  font-size: 1.3rem;
}

.form {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  align-content: center;
  /* flex-wrap: wrap; */
  margin: 0% 35%;
  padding:0% 5% 5% 5%;
  text-align: center;
}

.formTwo {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 5% 37%;
  text-align: center;
}

.textfield {
  padding: 50%;
  background-color: red;
}

.h3 {
  margin-top: 5%;
  text-align: center;
}

.formInputEmail {
  width: 100%;
  flex-wrap: nowrap;
}

.formInputAlt {
  
  width: 50%;
}


@keyframes navhover {
  0% {
    background-color: #b8f2e6;
  }
  25% {
    background-color: #b8f2e6;
  }
  50% {
    background-color: #06d6a0;
  }
  75% {
    background-color: #b8f2e6;
  }
  100% {
    background-color: white;
  }
}
